= form_for(@route) do |f|
  = render 'common/errors', resource: @route
    .field
    = f.label :name
    %br/
    = f.text_field :name
    .actions
    = f.submit "#{ @route.new_record? ? 'Создать' : 'Изменить'}"
